<h1>Surveys</h1>
<p *ngIf="error">{{ error.Error }}</p>
<button
  (click)="createSurvey()"
  class="btn btn-info"
  style="margin-bottom: 1%;"
>
  Create new survey
</button>
<p *ngIf="!surveys || (surveys && !(surveys.length > 0))">
  No surveys found.
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let survey of surveys; index as i">
      <th scope="row">{{ survey.title }}</th>
      <td>
        <div class="btn-group" role="group">
          <button
            [routerLink]="['/surveys', survey._id]"
            class="btn btn-primary"
          >
            Open
          </button>
          <button
            type="submit"
            (click)="deleteSurvey(survey)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
