<h1>
    Vragenlijst aanmaken
</h1>
<form [formGroup]="surveyForm" novalidate>
    <div class="form-group">
        <label for="inputTitle">Titel</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="De perfecte vragenlijst"
            formControlName="title">
        <small class="form-text text-muted">Voer hier de titel van jouw vragenlijst in.</small>
        <div *ngIf="form['title'].invalid && (form['title'].dirty || form['title'].touched)">
            <div *ngIf="form['title'].errors.required">
                <small class="form-text text-danger">De titel is vereist.</small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputQuestions">Vragen</label>
        <small id="questionsHelp" class="form-text text-muted">Druk op het plus-teken om een nieuwe vraag toe te
            voegen.</small>
    </div>
    <div formArrayName="questions" *ngFor="let question of questionForm.controls; let i = index">
        <div [formGroupName]="i">
            <input type="hidden" class="form-control form-control-sm" formControlName='questionNumber'>
            <div class="form-check" style="margin-top: 1%;">
                <input type="checkbox" class="form-check-input" id="textAnswerCheck" formControlName='textAnswer'>
                <label class="form-check-label" for="textAnswerCheck">Open vraag</label>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" formControlName='question'>
                <div class="input-group-append">
                    <button *ngIf="i > 0" type="button" (click)="removeQuestion(i)" class="btn btn-danger">-</button>
                </div>
            </div>
            <!-- <div
                *ngIf="questionForm.controls[i].controls['question'].invalid && (questionForm.controls[i].controls['question'].dirty || questionForm.controls[i].controls['question'].touched)">
                <div *ngIf="questionForm.controls[i].controls['question'].errors.required">
                    <small class="form-text text-danger">De vraag is vereist.</small>
                </div>
            </div> -->
        </div>
        <button type="button" (click)="addQuestion(i)" class="btn btn-success">+</button>
    </div>
    <button type="submit" (click)="onSubmit()" [disabled]="surveyForm.pristine || surveyForm.invalid"
        class="btn btn-info">
        Aanmaken
    </button>
    <button [routerLink]="['/surveys']" class="btn btn-warning">Terug naar lijst</button>
</form>